* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin-inline: auto;
  background-color: #ededed;
}

main {
  padding-inline: 104px;
}

a {
  text-decoration: none;
  color: inherit;
}
